
<h1>Created Restaurant </h1>
<p>Here are the details of the new restaurant:</p>

<ul>
  <li>Name: <%= @restaurant.name %></li>
  <li>Address: <%= @restaurant.address %></li>
  <li>Phone Number: <%= @restaurant.phone_number %></li>
  <li>Category: <%= @restaurant.category %></li>
</ul>

<%= link_to 'Back to the list', restaurants_path %>
